[Unit]
Description=Marlise Audio Processing Platform
Documentation=https://github.com/mebaxyz/marlise
After=network.target sound.target

[Install]
WantedBy=multi-user.target
